<div class="page-container">
<div class="site-under-construction">
  Site under construction call Zach or Eric with questions
</div>
  <div class="page-content">
    <div class="description-container">
      <div class="title">
        maine junior mariners hockey club
      </div>
      <div class="our-mission header">
        Our Mission
      </div>
      <div class="our-mission-description">
        <div>
          The Maine Jr. Mariners mission is to build a competitive and winning 18U through Junior level Hockey teams,
          while offering an exciting brand of hockey. We will strive to capture the support of the biddeford/York County
          community and make them proud to call the Jr. Mariners their team.
        </div>
        <div>
          Through optimized player development, our coaching staff will strive to produce college and professional
          caliber
          players and well-rounded individuals who will represent the community with respect and integrity
          Our team is committed to making a positive impact in biddeford by presenting exciting, family entertainment,
          and
          helping our sponsors and partners grow their brands and businesses.
        </div>
        <div>
          The Jr. Mariners are committed to making a difference in biddeford where we will live, play, and call home.
          Our
          players and coaches will be active members of the community and will be involved in numerous programs and
          outreach events where we can serve and enrich the lives of others. Jr. Mariners players will be available for
          big and small events and will bring fun-loving, enthusiastic energy with them wherever they go.
        </div>
      </div>

      <div class="sponsors header">
        Sponsors
      </div>
      <div class="sponsors-content">
        edge hockey skills - biddeford youth hockey association - biddeford ice arena<br><br>

        jason hight state farm insurance - pro stride skating - usa hockey
      </div>

      <div class="contact-us header">
        Contact Us
      </div>
      <div class="contact-us-content">
        <span>www.mainejrmariners.com</span>
        <span>207-847-8123</span>
        <span>biddeford maine usa</span>
      </div>
      <div class="contact-email">
        <a href="mailto:info@mainejrmariners.com?subject=maine junior mariners hockey club">info@mainejrmariners.com</a>
      </div>
      <div class="footer">
        the maine juniors are not affiliated with the maine mariners of the echl
      </div>
    </div>
    <img src="../assets/images/logo.png">
  </div>
</div>
