.page-container {
  position: relative;
  overflow-x: hidden;
  width: 100%;

  .site-under-construction {
    background-color: #000;
    padding: 10px;
    width: 100%;
    color: #FFF;
    text-align: center;
  }

  .page-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 60px 60px 0 60px;
    z-index: 100;
    background-color: transparent;

    img {
      position: absolute;
      top: 30px;
      right: 80px;
      width: 300px;
    }

    .description-container {
      width: 60%;

      .title {
        font-weight: 600;
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
        color: #23384c;
      }

      .header {
        text-align: center;
        color: #23384c;
        font-size: 25px;
        font-weight: bold;
      }

      .our-mission-description {
        color: #424242;
        margin-top: 30px;
        text-align: justify;
        font-size: 20px;

        div {
          margin-bottom: 20px;
        }
      }

      .sponsors {
        margin-top: 20px;
      }

      .sponsors-content {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;

        margin-top: 10px;
        color: #4f4f4f;
      }

      .contact-us {
        margin-top: 40px;
      }

      .contact-us-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-transform: uppercase;
        font-size: 18px;
        margin: 10px 0 20px 0;

        span {
          margin-left: 30px;
        }
      }

      .contact-email {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        a {
          font-weight: bold;
          color: #b098a2;
        }
      }

      .footer {
        font-size: 10px;
        margin-top: 40px;
        padding-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }
    }
  }
}
