.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;

  .email-address {
    font-size: 22px;
    color: #2d67bc;
    margin-top: 30px;
  }
}
